body {  
    margin: 0;
}
header {
    width: auto;
    background-color: blue;
    height: 200px;
}

#Lizaveta {
    margin-left: 100px;
    width: 200px;
    border-style: double;
    border-width: 10px;
    border-color: white;
}
#name {
    float: left;
    margin-left: 300px;
    font-size: 90px;
    margin-top: 55px;
}

hr {
    height: 10px;
    background-color: blue;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

p{
   text-align: center;
}
